In [1]:
input="Ravi Kumar Patel"
parts=input.split()

def swap(input):
    for word in parts:
        if len(parts)==3:
             output=f"{parts[1]} {parts[0]} {parts[2]}"
             return output
        else:
            return "There should be exactly 3 words"



output=swap(input)
print(output)

Kumar Ravi Patel

In [2]:
list = [87,43 ,76,1,99,23,8]
max=list[0]
for i in list:
    if(i>max):
        max=i
print(max)

99

In [3]:

input="google"
count={}
for char in input:
    if char in count:
        count[char]+=1
    else:
        count[char]=1
for char in count:
    print(f"{char}={count[char]}")

g=2
o=2
l=1
e=1

In [5]:
num=[num for num in range (1,1001) if num%7==0]
num=[num for num in range (1,1001) if num%7==0]
print(num)

input=[75,8,94,2,23,29,100]
evenorodd=["even" if num%2==0  else "odd" for num in input]
print(evenorodd)
evenorodd=["even" if num%2==0  else "odd" for num in input]
print(evenorodd)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]
['odd', 'even', 'even', 'even', 'odd', 'odd', 'even']
['odd', 'even', 'even', 'even', 'odd', 'odd', 'even']

In [7]:
input_string = "hello 1 hi 9 . How are 10"
num=[int(word)  for word in input_string.split() if word.isdigit()]
print(num)

[1, 9, 10]

In [8]:

def validate_email(email):

    is_valid = [1 for part in email.split('@') if len(part) > 0]
    if len(is_valid) == 2 and '.' in email.split('@')[1]:
        return "Correct"
    else:
        return "Incorrect"
email = "xyz@gmail.com"
result = validate_email(email)
print(f"{email}={result}")

xyz@gmail.com=Correct

In [17]:
try:
    del input
except NameError:
    pass
user_string = input("Enter the string: ")
string_without_spaces = user_string.replace(" ", "")
print(string_without_spaces)

Enter the string: hi aishi
hiaishi

In [14]:
sum=0
list=[num for num in range(1,51)]
for number in list:
    sum+=number
print(sum)

1275

In [16]:

s=input("Enter a string :")
if s.isalnum():
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

Enter a string :hwllo1
The string is alphanumeric